<div class="row mt-3">
  <div class="col-md-6">
    <% pdf_url = invoice_path(@invoice, public_id: current_recipient.public_id, inline: true, format: :pdf) %>
    <%= content_tag :iframe, nil, src: pdf_url, type: 'application/pdf', width: '100%', height: '500px',
                    style: 'border: none;' %>
  </div>
  <div class="col-md-6">
    <div class="row my-1">
      <div class="col">
        <%= @invoice.model_name.human %> <b><%= @invoice.id %></b>
      </div>
    </div>
    <div class="row my-1">
      <div class="col">
        <%= @invoice.subject %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col">
        <%= link_to invoice_path(@invoice, public_id: current_recipient.public_id, format: :pdf), target: :blank,
                    class: 'btn btn-secondary btn-sm mr-2' do %>
          <%= t('invoices.show.download') %>
          <%= number_to_human_size(@invoice.original_file.size) %>
        <% end %>
        <%= link_to invoice_path(@invoice, public_id: current_recipient.public_id, format: :json), target: :blank,
                    class: 'btn btn-secondary btn-sm' do %>
          <%= t('invoices.show.json') %>
        <% end %>
      </div>
    </div>

    <hr/>

    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= @invoice.human_attribute_name(:invoice_number) %>
      </div>
      <div class="col-md-6">
        <%= @invoice.invoice_number %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= t('invoices.show.assigned') %>
      </div>
      <div class="col-md-6">
        <%= @link.created_at %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= @invoice.human_attribute_name(:due_date) %>
      </div>
      <div class="col-md-6">
        <%= content_tag :span, class: due_date_color(@invoice) do %>
          <%= @invoice.due_date %>
        <% end %>
      </div>
    </div>

    <hr/>

    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= @invoice.human_attribute_name(:amount_vat_excluded) %>
      </div>
      <div class="col-md-6">
        <%= @invoice.amount_vat_excluded %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= @invoice.human_attribute_name(:vat) %>
      </div>
      <div class="col-md-6">
        <%= @invoice.vat %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= @invoice.human_attribute_name(:amount_vat_included) %>
      </div>
      <div class="col-md-6">
        <%= @invoice.amount_vat_included %>
      </div>
    </div>

    <hr/>

    <div class="row my-1">
      <div class="col d-flex align-items-center">
        <span class="font-weight-bolder">
          <%= current_recipient.human_attribute_name(:api_token) %>
        </span>
        <span class="js-token d-none ml-2">
          <%= current_recipient.api_token %>
        </span>
        <span class="js-token-stars ml-2">
          &middot;&middot;&middot;&middot;&middot;
        </span>
        <%= link_to t('invoices.show.show'), 'javascript:$(".js-token,.js-token-stars").toggleClass("d-none");',
                    class: 'btn btn-outline-danger btn-sm ml-auto' %>
      </div>
    </div>
  </div>
</div>
