<div class="row mt-3">
  <div class="col-md-6">
    <% data_url = "data:#{@invoice.original_file.content_type};"\
                  "base64,#{Base64.strict_encode64(@invoice.original_file.read)}" %>
    <%= content_tag :iframe, nil, src: data_url, type: 'application/pdf', width: '100%', height: '500px',
                    style: 'border: none;' %>
  </div>
  <div class="col-md-6">
    <div class="row my-1">
      <div class="col">
        <%= t('activerecord.models.open_invoice/invoice') %> <b><%= @invoice.id %></b>
      </div>
    </div>
    <div class="row my-1">
      <div class="col">
        <%= @invoice.subject %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col">
        <%= link_to open_invoice.invoice_path(@invoice, format: :pdf), target: :blank, class: 'btn btn-secondary btn-sm mr-2' do %>
          <%= t('invoices.show.download') %>
          <%= number_to_human_size(@invoice.original_file.size) %>
        <% end %>
        <%= link_to open_invoice.invoice_path(@invoice, format: :json), target: :blank, class: 'btn btn-secondary btn-sm' do %>
          <%= t('invoices.show.json') %>
        <% end %>
      </div>
    </div>

    <hr/>

    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= t('activerecord.attributes.open_invoice/invoice.invoice_number') %>
      </div>
      <div class="col-md-6">
        <%= @invoice.invoice_number %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= t('activerecord.attributes.open_invoice/invoice.due_date') %>
      </div>
      <div class="col-md-6">
        <%= content_tag :span, class: due_date_color(@invoice) do %>
          <%= @invoice.due_date %>
        <% end %>
      </div>
    </div>

    <hr/>

    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= t('activerecord.attributes.open_invoice/invoice.amount_vat_excluded') %>
      </div>
      <div class="col-md-6">
        <%= @invoice.amount_vat_excluded %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= t('activerecord.attributes.open_invoice/invoice.vat') %>
      </div>
      <div class="col-md-6">
        <%= @invoice.vat %>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6 font-weight-bolder">
        <%= t('activerecord.attributes.open_invoice/invoice.amount_vat_included') %>
      </div>
      <div class="col-md-6">
        <%= @invoice.amount_vat_included %>
      </div>
    </div>
  </div>
</div>
