<% @title = t('welcome.index.title') %>

<h1>
  <%= t('welcome.index.post_deploy') %>
  <span class="text-primary"><%= t('welcome.index.title') %></span>
  <%= t('welcome.index.page') %>
</h1>

<p><%= t('welcome.index.here') %>:</p>
<ol>
  <li>
    <span class="text-danger font-weight-bolder"><%= t('welcome.index.change_pwd') %></span>
    (<%= t('welcome.index.or_remove') %>)
    <ul>
      <li><%= t('welcome.index.goto') %> <%= link_to t('welcome.index.admin_dashboard'), rails_admin.dashboard_path %></li>
      <li>
        <%= t('welcome.index.input_email') %>: <b>admin@admin</b>,
        <%= t('welcome.index.input_password') %>: <b>admin@admin</b>
      </li>
      <li>
        <%= t('welcome.index.change') %>
        <%= link_to t('welcome.index.default_admin'), rails_admin.edit_path(model_name: OpenInvoice::Admin.name, id: 1) %>
        <%= t('welcome.index.password_or_create') %>
      </li>
    </ul>
  </li>
  <li>
    <%= t('welcome.index.addons') %>:
    <ul>
      <li>PostgreSQL</li>
      <li>Amazon S3</li>
    </ul>
  </li>
  <li>etc.</li>
</ol>
